<div class="film-container">
    <h1>{{film.title}}</h1>
    <video src="{{film.link}}"></video>
    <p>{{film.description}}</p>
    <p>Année de réalisation: {{film.year}}</p>
    <p>Pays : {{film.country}}</p>
</div>